<%= form_tag('/products/search', method: :get) do %>
  <div class="search-wrap">
    <input class="search-box" name="keyword" placeholder="製品名で検索する" type="text" value=""><button type="submit" class="search-box-btn">検索</button>
  </div>
<% end %>
<% @products.each do |product| %>
  <div class="product-center-wrap-flex">
    <div class="product-center-wrap_name">
      <h2>機械名:<%= product.machine %></h2>
      <h3>製品名:<%= product.name %></h3>
      <p>作成数:<%= product.text %></p>
    </div>
    <div class="product_list">
      <%= link_to "詳細", "/products/#{product.id}", method: :get %>
      <% if user_signed_in? && current_user.id == product.user_id %>
        <%= link_to "削除する", "/products/#{product.id}", method: :delete %>
        <%= link_to "編集する", "/products/#{product.id}/edit", method: :get %>
      <% end %>
    </div>
    <div class="product_create-days">
      <h4>作成者<a href="/users/<%= product.user.id %>"><%= product.user.nickname %></a></h4>
      <p>作成日<%= product.created_at.to_s(:datetime_jp) %></p>
    </div>
  </div>
<% end %>
